html {
    padding: 0 1em;
}

._dash-undo-redo {
  display: none;
}

#logo {
    float: right;
    max-height: 5em;
}

#subtitle {
    margin-top: -0.5em;
    margin-bottom: 3em;
}

#upload-box {
    margin: 0.7em 0;
    padding: 1em;
    border: dashed 1px;
    border-radius: 5px;
    text-align: center;
}

summary {
    border-bottom: solid 1px #ddd;
    padding: 0.1em 0.3em;
    outline: none;
    font-weight: bold;
}

details {
    margin: 0.3em 0;
    border: solid 1px #ddd;
}
